<div id="prefooter" role="complementary">
    <div class="container">
      <div class="row">
        <div class="one-third-block">
          <div class="connect-widget widget">
            <div class="social-icons">
              <h4 class="widget-title">Connect with us</h4>
              <p><b>publicblog2021@gmail.com</b></p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer id="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="copyright">&copy; PUBLIC BLOG 2021</div>
        <div class="attribution">
          Web Design by
          <a title="Web Design by Donny Burnside" target="_blank"
            >DUSHYANTH NIKHIL CHANDANA SUMANTH</a
          >
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
