<%-include("header");-%>

            <nav id="main-menu">
              <ul class="horizontal-navigation">
                <li class="menu-home active" itemprop="url">
                  <a href="/" title="Home" itemprop="name">Home</a>
                </li>

                <li class="menu-blog" itemprop="url">
                  <a href="/blog.ejs" title="Blog" itemprop="name">Blog</a>
                </li>

                <li class="menu-contact" itemprop="url">
                  <a href="compose.ejs" title="Compose" itemprop="name"
                    >Compose</a
                  >
                </li>

                <% if(active1===0 && active2===0) { %>

                <li class="menu-blog" itemprop="url">
                  <a href="/signin.ejs" title="SignIn" itemprop="name"
                    >SignIn</a
                  >
                </li>

                <%}%> <% if(active2===1 || active1===1) { %>
                <li class="menu-blog" itemprop="url">
                  <a href="/profile.ejs" title="author" itemprop="name"
                    >Profile</a
                  >
                </li>

                <li class="menu-blog" itemprop="url">
                  <a href="/logout.ejs" title="logout" itemprop="name"
                    >Logout</a
                  >
                </li>

                <%}%>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <div id="page-title">
        <div class="container">
          <div class="row">
            <h1 class="entry-title" itemprop="headline">
              Read...Write...Search
            </h1>
            <p class="description" itemprop="description">
              We provide the best blogging experience for free!
            </p>
          </div>
        </div>
      </div>
    </div>

    <main id="content" role="main">
      <div class="section">
        <div class="container">
           <div class="row">
          <div class="three-quarters-block">
            <div class="content">
              <article class="post hentry">
                

                <div class="entry-image">
                  <img src="OIP.jpg" alt="Featured Image" itemprop="image" />
                </div>

                <div class="entry-content" itemprop="articleBody">
                  <p>
                    Our blogging site’s main motive is to provide free and user
                    friendly blogging experience to our users. We provide users
                    to post articles of their choice. This helps in improving a
                    person writing, reading skills and also used to share
                    information among people. User need to have a account to
                    write articles and to see about a particular author. Because
                    of the user friendly interface of our site it makes user
                    easy to operate our site. We hope you enjoy blogging in our
                    site.
                  </p>
                </div>
              </article>
            </div>
          </div>

          <div class="one-quarter-block" role="complementary">
            <div class="sidebar">
              <div class="search-widget widget">
                <form class="widget-form" action="/search" method="post" role="search">
                  <label>
                    <span class="screen-reader-text">Search this website:</span>
                    <input
                      type="search"
                      class="search-field"
                      placeholder="Search &hellip;"
                      value=""
                      name="search"
                      title="Search"
                    />
                  </label>
                  <button><i class="fa fa-search"></i></button>
                </form>
              </div>


            </div>
          </div>
        </div>
        </div>
      </div>
    </main>

<%-include("footer");-%>